@{
    ViewData["Title"] = "Loading";
}
    <body>
        <!-- MAIN CONTENT GOES HERE -->
        <main id="main">
            <h1 class="please-wait_heading">Please wait while we connect to your exam</h1>
            <div class="loading-dots">
                <a class="loading-dots_link" href="/thanks">
                    <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1>
                </a>
            </div>
            <h4 class="reminder"></h4>
        </main>
    </body>
