
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <!-- normalize.css -->
    <link rel="stylesheet" href="~/css/normalize.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- custom styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/queries.css">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="~/img/favicon.png">

    <!-- normalize.css -->
    <!--Webcam.js-->
    <script src="~/js/webcam.min.js"></script>

    <!-- Student Code -->
    <link rel="stylesheet" href="~/css/registration.css" type="text/css">

    <title>Invigilus Exam Registration</title>
</head>
<body>
    <nav class="navigation">
        <img src="~/img/logo.png" class="navigation_logo" alt="logo">
        <ul class="navigation_links">
            <li><a href="~/">home</a></li>
            <li><a href="#">about us</a></li>
            <li><a class="loginButton" asp-controller="Account" asp-action="Login">login</a></li>
        </ul>
    </nav>

    <!-- MAIN CONTENT LOADS HERE -->

    <main role="main" id="main" class="authBody">
        @RenderBody()
    </main>

    <footer id="footer">
        <div class="footer_wrap">
            <ul class="footer_nav">

                <li><a href="#">privacy</a></li>
                <li><a href="#">blog</a></li>
            
            </ul>

            <div class="footer_tag">
                <p>developed by the SAIT OOSD program &copy; 2020</p>
            </div>
        </div>
    </footer>

    <!-- bootstrap -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- custom scripts -->
    <script src="~/js/script.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
