/* Edvin Lin OOSD 2020*/
.greenbox {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 17px;
}

.invigulus-logo-color {
  background-color: #3CB650;
}

.camera_btn {
  border: 1px solid black;
  border-radius: 5px;
  background-color:#174818;
  color: white;
  font-weight: 300;
  font-size: 100%;
  height: 2rem;
  max-width: 200px;
  letter-spacing: .03rem;
  padding: .2rem;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.boximageframe {
    width: 200px;
    height: 150px;
    display: block;
    background-color: #fff;
    align-items: center;
    overflow: hidden;
    margin: auto;
}
  

.boxn {
  background-color: #fff;
  overflow: hidden;
  }

.cameraframe {
    overflow: hidden;
    width: 800px;
    height: 450px;

}

/* W3 Schools Popup chat CSS (Temp) */
    /* Button used to open the chat form - fixed at the bottom of the page */
    .open-button {
  background-color: #555;
  color: white;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 50px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Video */
video {
    width: 250px;
    height: 200px;
    transform-origin: 0px 0px;
    transform: scaleX(3.11111) scaleY(2.27586);
}

#imageform {
    margin-top: 20px;
}

#headshot img, #photoid img {
    width: 200px;
    height: 150px;
}

#imageform h6 {
    margin-top: 20px;
}

.boximageframe {
    width: 200px;
    height: 150px;
    display: block;
    background-color: #fff;
    align-items: center;
    overflow: hidden;
    margin: auto;
}
