
@{
    ViewData["Title"] = "Thanks";
}


<body>
    <main id="main">
        <div class="thanks">
            <h2 class="thanks_title">
                <span id="uxThanks"> Thanks @User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Name).Value !</span>
    
            </h2>
            <h4>
                We will send an email with our survey link to you shortly.<br />
                Take a break, you've earned it!
            </h4>
        </div>
    </main>

</body>
